body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  #heading{
    background-image: url("../resources/static/images/paris-city.avif");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 30px;
  }
  
  .header {
      background-color: #333;
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:right;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
      text-decoration: none;
      color: #333;
      font-size: 16px;
      padding: 5px 10px;
      transition: background-color 0.3s;
  }
  nav ul li a:hover {
      background-color: #e2e6ea;
      border-radius: 5px;
  }
  
  .hero {
    background-image: linear-gradient(to bottom, #333, #666);
    background-size: 100% 300px;
    background-position: 0% 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
  .hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .hero p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  #flight-search-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: linear-gradient(to bottom, #333, #666);
    display: inline-block;
    box-sizing: border-box;
    padding: 40px;
    width: 70%;
    height: 70%;
    backdrop-filter: brightness(40%);
    flex-direction: column;
    display: flex;
    gap: 5px;
  }
  
  #flight-search-form label {
    margin-right: 10px;
  }
  
  #flight-search-form input[type="text"], #flight-search-form input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
  }
  
  #flight-search-form button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .popular-destinations {
    background-color: #f7f7f7;
    padding: 20px;
  }
  
  .popular-destinations h2 {
    margin-top: 0;
  }
  
  .popular-destinations ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .popular-destinations li {
    margin-right: 20px;
  }
  
  .popular-destinations img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }