<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
	.container{
		background-color: aqua;
		margin-top: 10%;
		margin-left: 10%;
		margin-bottom: 200px;
		margin-right: 200px;
	}
</style>
</head>
<body>
	<div class="container">
    <h2>Find Flights</h2>
    <form action="findFlights" method="post">
     <pre>
          From:<input type="text" name="from">
          To  :<input type="text" name="to">
          Departure Date:<input type="text" name="departureDate">
         <input type="Submit" value="search"/>
      </pre>
     </form>
     </div>
</body>
</html>